* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: fixed rgba(0, 0, 0, 0.7) url(../../img/miamiView.jpg);
  background-blend-mode: darken;
  background-size: cover;
}
.contenedor {
  position: relative;
  top: 90px;
  margin: 0px 45px;
  padding: 40px;
}

.caja {
  margin: 40px 5px;
  padding: 5px 20px;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}
.caja:nth-child(odd) {
  flex-direction: row-reverse;
}

.elemento {
  /* border: 1px solid red; */
  border-radius: 3px;
  margin: 15px;
  min-width: 300px;
  flex: 2;
  /* display: flex;
  flex-direction: column; */
}
.elemento:first-child {
  flex-grow: 3;

}
.elemento .img {
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.cardTitle {
  color: rgba(255, 123, 159, 0.74);
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 800;
  margin: 25px;
  border-bottom: 2px solid rgba(255, 123, 159, 0.74);
}
.carddescription {
  font-size: 1.1em;
  margin: 20px;
  max-width: 550px;
}
.caja .elemento .booknowPosition a {
  background: rgba(255, 123, 159, 0.74);
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.caja .elemento .booknowPosition a:hover {
  letter-spacing: 6px;
}
.elemento .booknowPosition{
  position: relative;
  bottom: 0px;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* border: 1px solid red; */
  
}
@media (max-width: 900px) {
  .contenedor {
    margin: 0px 7px;
    padding: 10px;
  }
  .caja {
    margin: 20px 0px;
    padding: 5px;
  }
}
